/*
.panel-body {
  height: 350px;
  overflow-y: scroll;
}
*/
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: red;
  background-color: #d9534f;
}