.navbar-default .navbar-brand {
    color: #fd8d4b;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #2da2ff;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default .navbar-brand:hover {
    color: #0a369f;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0a369f;
}

.center-title {
    color: #fff;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.lead {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #2f414f;
}

.banner-box {
  background-color: rgba(45,162,255, 0.7);
  padding:15px;
  border-radius: 15px;
}

.banner-text {
  color: #fff;
  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  font-size: 1.5em;
}

.banner-title {
    font-size: 2em;
}

.btn-default {
    color: #1d7cfa;
    background-color: #fff;
    border-color: #ccc;
}

.btn-general {
  color: #2da2ff;
}

.btn-general:hover {
  color: #0a369f;
}
