.navbar-default .navbar-brand {
    color: #fd8d4b;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #2da2ff;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.center-title {
    color: #fff;
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.btn-default {
    color: #1d7cfa;
    background-color: #fff;
    border-color: #ccc;
}
